.menu {
    height: 100vh;
    width: 80px;
    background-color: #7FFFD4;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu div {
    display: flex;
    flex-direction: column;
}
.menu div img {
    width: 25px;
    height: 25px;
    margin-top: 15px;
    cursor: pointer;
}

.menu ul li {
    writing-mode:vertical-rl;
    list-style: none;
    padding: 15px;
    font-size: 25px;
    cursor: pointer;
    font-weight: 100;
    transition: 1s;
}
.menu ul li:hover {
    color:white;
}
.menu ul {
    display: flex;
    width: 100%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.logo {
    position: fixed;
    left: 30px;
    top: 30px;
    color: black !important;
    cursor: pointer;
    transition: 1s;
    font-size: 24px !important;
    font-weight: 800;
    z-index: 1;
}
.logo:hover {
    color: #DC143C !important;

}
.grid-container {
    display: grid;
    
    grid-column-start: 5;
    grid-row-start: 1;
    grid-template-columns: repeat(2, 50%) ;

}

.grid-container > header:nth-child(1) {
    background-color:	#FFDAB9;
    width: 100%;
    grid-column: 1 / 3;
    height: 90vh;
    font-family: Arial,Helvetica,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-header {
    font-family: 'Abril Fatface', cursive;
    line-height: 1.3em;
    text-align: center;
    font-size: 37px;
    color: white;
}


header > h2 {
    font-family: 'Cormorant Garamond', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
}

.grid-container > section:nth-child(2){
    grid-column-start: 1;
    height: 125vh;
    background-color: 	#DC143C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.section-content-1 {
    position: absolute;
    top: 18%;
    left: 20%;
    z-index: 1;
    
} 
.section-content-2 {
    position: absolute;
    top: 20%;
    left: 20%;
    font-size: 80px;
    z-index: 1;
}
.section-content-img-1 {
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
}
.section-content-img-2 {
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
    position: relative;
    top: -40px;
    right: -40px;
}
.section-content-img-3 {
    max-width: 300px;
    max-height: 400px;
    object-fit: cover;
    position: relative;
    top: 40px;
    left: -40px;
}

@keyframes changeImg {



}



.grid-container > div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-content-3 {
    width: 385px;
    height: 550px;
    object-fit: cover;
    object-position: 50% 50%;
}


.grid-container > section:nth-child(4){
    grid-column-start: 1;
    grid-column: 1 / 3;
    background-color: 	#1E90FF;
    height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color:#FFDAB9;
    position: relative;
}
.text-content-design {
    position: absolute;
    bottom: 160px;
    font-size: 25px;
    color: white;
    font-weight: 100;
}


.grid-container > div:nth-child(5) {
    background-color: #FFE4E1;
    height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-container > div:nth-child(5) > img {
    max-width: 400px;
    max-height: 550px;
}

.grid-container > div:nth-child(5) > h2, p {
    /* background-color: white; */
    width: 370px;
    margin-top: 8px;
}


.grid-container > div:nth-child(6) {
    background-image: url('../assets/fundo-colorido.jpg');
    background-size: cover;
    object-fit: cover;
}

.grid-container > div:nth-child(7) {
    background-color: 	#3CB371;
    grid-column: 1 / 3;
    height: 125vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container > div:nth-child(7) > img {
    width: 745px;
    height: 570px;
    object-fit: cover;
    object-position: 50% 50%;
}

.grid-container > div:nth-child(7) > div {
    background-color: aliceblue;
    width: 100px;
    height: 300px;
    margin: 20px;
}   
.grid-container > footer:nth-child(8) {
    grid-column-start: 1;
    grid-column: 1 / 3;
    background-color: #7FFFD4;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container > footer > p {
    text-align: center;
}